<% provide(:title, 'Main Ranking') %>
<h1>Tadoku Ranking page</h1>

<br/>
<ol>
			<% @entrants.each do |entrant| %>
			<li>
					<% if entrant.pcount > entrant.goal && entrant.goal != 0 %>
						<font color="green">
						<%= entrant.user.name %> <%= entrant.pcount.round(2) %>
						</font>
					<% else %>
						<%= entrant.user.name %> <%= entrant.pcount.round(2) %>
					<% end %>
			</li>	
			<% end %>
</ol>
