<% provide(:title, 'Round 0 Ranking') %>
<h1>Tadoku Round 0 Ranking page</h1>

<br/>
<div class = "ranking">
  <ol>
  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th></th>
        <th>Username</th>
        <th>Pagecount</th>
      </tr>
    </thead>
    <tbody>
      <% @entrants.each do |entrant| %>
        <tr>
          <td><li></td>
          <td><%= twivatar_for(entrant.user) %></td>
          <td><%= entrant.user.name %></td>
          <td><%= entrant.pcount.round(2) %></td></li>
        </tr>
      <% end %>
    </tbody>
  </table>
  </ol>
</div>