<% provide(:title), 'Updates' %>
<h1><%= user.name %>'s Updates </h1>
<ul class= "updates">
	<% if @hist.count < 1 %>
		<p> no updates</p>
	<% else %>
		<% @hist.each do |update| %>
			<li>Category: book  <%= update.book %> </li>
		<% end %>
	<% end %>
</ul>
