<% provide(:title) %>
<div class="center hero-unit">
	<h1>Welcome to the Tadoku App!</h1>
	<h2>something something something</h2>
	<%= link_to "Sign up with twitter", '#', class: "btn btn-large btn-danger" %>
</div>
