@import "bootstrap";

/* mixin , vars, other misc things */

$grayMediumLight: #eaeaea;
$Dblue3: #1569C7;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#countdown_dashboard {
	height: 110px;
	padding-bottom: 50px;
	margin-left: 75px;
}

.dash {
	width: 110px;
	height: 114px;
	background: transparent url('../images/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 55pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}
/* universal */	

html{
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}
textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

/* typography */

h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em; 
}

	/* header */

#logo {
	float: left;
	margin-right: 10px;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color:white;
		text-decoration: none;
	}
}

 /* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px dotted $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $Dblue3;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* that um box */

.debug_dump {
	clear: both;
}
