<footer class= "footer">
  <small>
    <a href="http://readmod.wordpress.com">Blog</a>
  </small>
  <nav>
  		<ul>
  			<li><small><%= link_to "About", about_path %></small></li>
  		</ul>
  </nav>
  <div id="donate" align="center">
  		<a title="Help pay for hosting" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=EJWKJUMS8PMZE"><img alt="" src="https://www.paypal.com/en_US/i/btn/x-click-but11.gif" /></a>
 <div>
</footer>